# gradle

.gradle/
build/
out/
classes/
compiler_output/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# Affinity
*.afdesign~lock~